body {
    background-color: rgb(9, 8, 8);
}
#last{
    display:block;
    height:20rem;
    width:30rem;
    margin:auto;
    margin-top:3rem;
    animation:text 3s 1;
}
@keyframes text{
    0%{
        margin-top:20rem;
        height:30rem;
        width:50rem;
    }
   }
#brain{
    display:block;
    height:10rem;
    margin:auto;
    margin-top:3rem;
    visibility:hidden;
   opacity:0.8;
}
#exit{
    width:10rem;
    padding:1rem;
    margin:1rem;
    background:linear-gradient(rgb(198, 128, 49),rgb(74, 42, 5));
    color:white;
    font-size: 1rem;
    font-weight:bold;
    border:3px solid white;
    border-radius:10px;
}
#exit:hover{
    background:linear-gradient(rgb(74, 42, 5),rgb(198, 128, 49));
}
#retry{
    width:10rem;
    padding:1rem;
    margin:1rem;
    background:linear-gradient(rgb(107, 72, 232) , rgb(28, 24, 43));
    color:white;
    font-size: 1rem;
    font-weight:bold;
    border:3px solid white;
    border-radius:10px;
}
#retry:hover{
    background:linear-gradient( rgb(28, 24, 43),rgb(107, 72, 232)); 
}
#btndiv{
   display:block;
   text-align:center;
   margin-top:4rem;
   visibility:hidden;
   opacity:0.8;
}